body {
    margin: 50px;
    padding: 50px;
}

.card {
    text-align: center;
    padding: 15px;
}

.card-img-top {
    margin: 5px;
    padding: 5px;
}

.title {
    text-align: center;
}

table {
    border-radius: 5px;
    border-color: teal;
}